.pagination {
    display: inline-block;
  }
  
  .pagination a {
    border-radius: 100%;
    color: black;
    cursor: pointer;
    float: left;
    height: 48px;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    width: 48px;
  }
  
  .pagination a.active {
    background-color: #e8310d;
    /* border: 2px solid #FFD80B; */
    color: white;
  }
  
  .pagination i{
    color: #232323;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}